/* Common Components */

/* Button */
button {
  height: 3.5rem; 
  width: 8rem; 
  border-radius: 9999px; 
  border: 1px solid #017434; 
  background-color: #ffffff; 
  color: #017434; 
  font-weight: 600; 
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: scale(1.05); 
  background-color: #017434;
  color: black; /* Changed to black on hover */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
}

/* Heading */
h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
}

/* Header Component */
.headerContainer {
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background: from-black to-[#017434]; */
  color: white;
}

/* Hero Section */
.heroSectionContainer {
  position: relative; 
  width: 100%;
  height: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
  color: white;
}

/* Background Image */
.heroSectionContainer::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-image: url(https://images.wallpaperscraft.com/image/single/couple_mountains_travel_125490_3840x2400.jpg);
  background-position: center;
  background-size: cover; 
  z-index: -1; /* Ensure it is behind any content */
}

/* Overlay */
.heroSectionOverlay {
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.2); /* Lighter tint */
  z-index: 1; /* Ensure it is above the background */
}


/* Styles For Testimonials Carousel */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Oswald:wght@200..700&display=swap');
.profilePic{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    padding-top: 5px;

}
.cardContainer{
    display: flex;
    gap: 20px;
    padding: 30px 60px 60px 60px;
    margin-top: 2rem;
    width: 750px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
  color: black;


    
}

.cardText>h3{
    font-family: "Dosis_Bold";
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.2;
    margin-bottom: 0px;


}
.cardText>p{
  font-family: "inter_light";
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    padding-top: 16px;
    margin-bottom: 0px;
}
.cardText>p>span{
  font-family: "inter_bold";

}

.mainContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;




  }
  .heading>span{
    font-style: italic;
  }


  
  .cardText {
    text-align: left;
  }
  
  
  
  .cardLowerDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 48px;
    gap: 10px;
  }
  
  .designation {
    font-size: 16px;

  }
  
  .verticalLine {
    width: 1px;
    height: 30px;
    background-color: #ddd;
  }
  
  .logo {
    width: 100px;

    background-color: white;
    border-radius: 10%;
    align-items: center;
  }
.caroOuterDiv{
    background-color: #151526;
    padding-top:96px ;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;


}

.heading{
    color: white;
    font-size: 56px;
    font-family: "Dosis_Bold";
    line-height: 62.4px;
    margin-left: -4%;
    margin-bottom: 0px;
}
.headingDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}
.btn{
  text-align: center;
  text-transform: uppercase;
  color: #007333;
  padding: .75rem 1.5rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background-color: white;

    }
.btnDiv{
  grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-right: -4%;
}
.btnDiv>p{
    font-style: italic;
    font-size: 16px;
    font-family: "inter_light";
    color: white;
    text-align: center;
    font-weight: 400;
}
.verticalLine{
  width: 1px;
  background-color: #000;
}

@media (max-width:640px) {

  .cardContainer{
    padding: 0px;
  }
  .heading{
    font-size: 2rem;
    padding: 0px;
    line-height: normal;
    margin-left: 0px;
    
  }
  .btnDiv{
    margin-right: 0px;
    display: block;
    margin-top: 1rem;
  }
  .caroOuterDiv{
    padding: 3rem 0.6rem;
  }
  .headingDiv{
    display: block;
  }
  .btn{
    margin-top: 0px;
    margin-left: 0px;
    
  }
  .btnDiv>p{
    text-align: start;
    margin-left: 0px;
    margin-top: 0.5rem;
  }

  .cardContainer{
    display: block;
    height: fit-content;
    padding: 40px 28px;
    margin-top: 0px;
  }
  .cardText>h3{
    font-size: 20px;
    font-family: "Dosis_SemiBold";

  }
  .cardText>p{
    font-family: "inter_light";
    width: 100%;
    padding-top: 0.5rem;
  }
  .mainContainer{
    padding: 0px;
  }
  .cardContainer{
    display: grid;
  }
  .profilePic{
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: start;
    justify-self: start;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding-top: 5px;
    
  }
  .designation{
    text-wrap: nowrap;
  }

}
